# frozen_string_literal: true

module <%= constant_name %>
  module Routes
    module GraphQL
      def self.registered(app)
        app.post "/graphql" do
          input = json_params
          result = <%= constant_name %>::GraphQL::Schema.execute(
            input.fetch(:query),
            variables: input[:variables] || {},
            operation_name: input[:operationName],
            context: { request: request }
          )
          json result.to_h
        end
      end
    end
  end
end
