# frozen_string_literal: true

require "json"

module <%= constant_name %>
  module HTTP
    module JSON
      def json(payload, status: 200)
        content_type :json
        halt status, ::JSON.generate(payload)
      end

      def json_params
        ::JSON.parse(request.body.read, symbolize_names: true)
      rescue ::JSON::ParserError
        json({ error: "invalid_json" }, status: 400)
      end
    end
  end
end
